<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hades Proxy</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <center><h1>Hades Layer7 Reverse Proxy</h1></center>
    <center><p>Error: <%= error_message %></p></center>
</body>
</html>
